<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img src="/assets/img/footer-logo.png" alt="" /></a>
          </div>
          <p>
            "Với kinh nghiệm lâu năm làm thời trang chúng tôi NADOVER tự tin
            mang đến cho bạn sản phẩm tốt nhất gía cả hấp dẫn với nhiều ưu đãi
            khủng"
          </p>
          <ul class="social-media">
            <li><a target="_blank" href="https://www.facebook.com/nguyenxunadona/"><i
                  class="fa-brands fa-facebook"
                ></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/doan_g09/"><i
                  class="fa-brands fa-instagram"
                ></i></a></li>
            <li><a target="_blank" href="https://www.tiktok.com/@doandc09?lang=vi-VN"><i
                  class="fa-brands fa-tiktok"
                ></i></a></li>
            <li><a
                href="https://www.youtube.com/channel/UCqSv0iJY9uzaBbKA4U812iQ"
              ><i class="fa-brands fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>HỖ TRỢ KHÁCH HÀNG</h6>
          <ul class="footer__support">
            {{! <li><a href="#">Clothing Store</a></li>
            <li><a href="#">Trending Shoes</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Sale</a></li> }}
            <li><a href="">Đổi trả 45 ngày</a></li>
            <li><a href="">Chính sách bảo hành</a></li>
            <li><a href="">Chính sách vận chuyển</a></li>
            <li><a href="">Phương thức thanh toán</a></li>
            <li><a href="">Điều khoản dịch vụ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>NADOVER.COM</h6>
          <ul class="footer__support">
            <li><a href="https://goo.gl/maps/tKRYxMgq4r2niybGA">Địa chỉ: 126 Mễ
                Trì Hạ,Nam Từ Liêm, Hà Nội</a></li>
            <li style="margin-top: 20px;color:#fff;"><a
                href="tel:0382795561"
              >Hotline: 0382795561</a></li>
            <li style="margin-top: 20px;color:#fff;">Zalo: Nguyễn Xuân Đoàn</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>NewLetter</h6>
          <div class="footer__newslatter">
            <p>
              Đăng ký ngay để nhận thông tin khuyến mãi !
            </p>
            <form action="#">
              <input type="email" placeholder="Your email" />
              <button type="submit">
                <span class="icon_mail_alt"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer__copyright__text">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p>
            Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>
             NADOVER.com . Mua giày, đến Sneaker NADOVER - Uy tín làm nên thương hiệu ! </span>
          </p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here....." />
    </form>
  </div>
</div>
<!-- Search End -->