<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__nav__option">
    <a href="/guest/login" style="color: #000000"><i
        class="fa-regular fa-user"
        style="vertical-align: middle;"
      ></i></a>
    <a href="#" class="search-switch"><img
        src="/assets/img/icon/search.png"
        alt=""
      /></a>
    <a href="#"><img src="/assets/img/icon/heart.png" alt="" /></a>
    <a href="./shopping-cart"><img src="/assets/img/icon/cart.png" alt="" />
    </a>
  </div>
  <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a href="/"><img src="/assets/img/logo.png" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul id="ul-menu">
            <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item"><a href="/shop">Shop</a></li>
            <li class="menu-item"><a
                href=""
                onclick="alert('Comming soon')"
              >Blog</a></li>
            <li class="menu-item"><a href="/contact">Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">
          <a href="/guest/login" style="color: #000000"><i
              class="fa-regular fa-user"
              style="vertical-align: middle;"
            ></i></a>
          <a href="#" class="search-switch"><img
              src="/assets/img/icon/search.png"
              alt=""
            /></a>
          <a href="/shopping-cart"><img
              src="/assets/img/icon/cart.png"
              alt=""
            />
            <span>0</span></a>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>