<!-- Map Begin -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.511555004673!2d105.7825833!3d21.0122079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acaac91a7505%3A0x411da741d448f09b!2zMTI2IFAuIE3hu4UgVHLDrCBI4bqhLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1669041737445!5m2!1svi!2s"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<!-- Map End -->

<!-- Contact Section Begin -->
<section class="contact spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact__text">
          <div class="section-title">
            <span>Thông Tin</span>
            <h2>Liên hệ chúng tôi</h2>
            <p>Như bạn có thể mong đợi ở một cửa hàng uy tín chất lượng , chúng
              tôi chú ý nghiêm ngặt.</p>
          </div>
          <ul>
            <li>
              <h4>Hà Nội</h4>
              <p>Số nhà 56 ngách 32/84 Đỗ Đức Dục, Q. Nam Từ Liêm, TP. Hà Nội
                <br />038.279.5561</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="contact__form">
          <form action="/contact/send" method="POST">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" placeholder="Name" name="name" />
              </div>
              <div class="col-lg-6">
                <input type="text" placeholder="Email" name="email" />
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Message" name="message"></textarea>
                <button type="submit" class="site-btn">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->