* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  color: #ffff; }

body {
  min-width: 320px;
  font-size: 18px; }

a.notdefault {
  text-decoration: none;
  color: #000000e8; }

h1 {
  color: green; }

h2 {
  color: #1900ff; }

.card-courses-item {
  margin-top: 10px; }

.wpb_wrapper {
  margin-top: 10px;
  position: relative; }

.card-price {
  display: flex;
  justify-content: space-between; }

.a-product {
  transform: scale(1);
  transition: transform 0.7s ease; }
  .a-product:hover {
    transform: scale(0.8); }

.btn-addcart {
  color: #fff;
  background-color: #049900; }
  .btn-addcart:hover {
    color: #fff;
    background-color: #059900d3; }

.product-detail {
  padding: 30px 0px; }
  .product-detail .breadcrumb-item a {
    font-weight: 600;
    color: #000;
    text-decoration: none; }
    size .product-detail .breadcrumb-item a:hover {
      color: #0a58ca; }
  .product-detail .col-4 .tab-image {
    display: flex; }
    .product-detail .col-4 .tab-image .btn:focus {
      box-shadow: none; }
    .product-detail .col-4 .tab-image .nav {
      flex-wrap: nowrap; }
  .product-detail .col-6 .table-size {
    padding-bottom: 10px; }
    .product-detail .col-6 .table-size .btn-group {
      display: block; }
  .product-detail .col-6 .btn-orginal {
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    margin-top: 10px; }
    .product-detail .col-6 .btn-orginal:hover {
      box-shadow: 0 0 0 0.25rem #ee4d2d3d; }
    .product-detail .col-6 .btn-orginal:focus {
      box-shadow: unset; }
  .product-detail .btn .size {
    margin-right: 10px; }
  .product-detail .select-quatity .btn:focus {
    box-shadow: none; }
  .product-detail .tab-description .tab-content {
    max-width: 900px;
    margin: 0px auto; }

/* footer */
.footer {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000000; }

.name-footer {
  color: #ccc; }

.footer .list-services {
  display: flex;
  justify-content: space-around; }

ul.root {
  padding-left: 0px; }

ul.root li {
  list-style: none;
  position: relative; }

ul.root li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.185rem;
  left: 0;
  bottom: 0;
  background-color: #f3f3f3;
  transform: scale(0, 1);
  transform-origin: 0 100%;
  transition: transform 0.7s ease; }

ul.root li:hover:after {
  transform: scale(1, 1); }

ul.root li a {
  display: block;
  font-size: 16px;
  margin-top: 20px;
  color: #fff;
  text-decoration: none; }

.copyright {
  background-color: #000000;
  position: relative; }

.copyright::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: #dc3548;
  transform: scale(0, 1);
  transition: transform 0.7s ease-in; }

.copyright:hover::after {
  transform: scale(1, 1); }

.copyright .text {
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: block; }

@media screen and (max-width: 739px) {
  .footer .list-services {
    flex-direction: column; }
  ul.root li {
    text-align: center; }
  ul.root li a {
    margin: 20px; } }
