<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-12">
      <h4><small>Demo</small></h4>
      <hr>
        <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h3>File Input Example</h3>
            <form method="post" action="upload/post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="image" class="input-group input-file"/>
                <button type="submit" name="upload" class="btn btn-primary pull-right">Upload</button>
            </form>
        </div>
        </div>
    </div>
  </div>
</div>